// demo-1
@import '../mixins/clearfix';
@import '../mixins/breakpoints';
@import '../mixins/lazy';

@import '../config/fonts';
@import '../config/variables';

.intro-slider {
    .banner {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    &.intro-slider-1 {
        figure {
            img {
                right: 16px;
                bottom: -9px;
            }
        }
    }
}

@media (max-width: 1500px) {
    .intro-slider.intro-slider-1 figure img {
        right: -16%;
    }
}
